<div class="form-group">
  <label for="location">Places To Go:</label>
  <textarea name="location" class="form-control" placeholder="Insert Location">{{hike.location}}</textarea>
</div>
<div class="form-group">
  <label for="visitied">Visited:</label>
  <textarea name="visited" class="form-control" placeholder="Add to List of Visited Places.">{{hike.visited}}</textarea>
</div>
