<!-- views/events-new.handlebars -->

<form method="POST" action="/events">
  <fieldset>
    <legend>New Hike</legend>
    <!-- Name -->
    <p>
      <label for="title">Location</label><br>
      <input type="text" name="title" />
    </p>
    <p>
    <label for="imgUrl">Image Url</label><br>
        <input type="text" placeholder="" name="imgUrl" />
    </p>
    <p>
      <label for="desc">Description</label><br>
      <input type="text" name="desc" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Add</button>
  </p>

</form>
